* {
	box-sizing: border-box;
}

body {
	padding: 55px 20px;
}

.container {
	width: 82%;
}

h1 {
	font-weight: 600;
	font-size: 70px;
	margin-top: 8px;
	font-family: 'Lobster', 'Roboto', sans-serif;
}

h4 {
	font-weight: 700;
	font-family: 'Montserrat';
	font-size: 30px;
}

p {
	padding-top: 0;
	margin-top: -10px;
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 24px;
	width: 80%;
}

form {
	margin-top: 8px;
}

#name-input-field input[type=text].valid {
     border-bottom: 1px solid #b2dfdb;
     box-shadow: 0 1px 0 0 #b2dfdb;
   }

#company-input-field input[type=text].valid {
     border-bottom: 1px solid #80cbc4;
     box-shadow: 0 1px 0 0 #80cbc4;
   }

#industry-input-field input[type=text].valid {
     border-bottom: 1px solid #4db6ac;
     box-shadow: 0 1px 0 0 #4db6ac;
   }

#file-btn {
	padding: 0 1.55rem;
	background: #26a69a;
}

#submit {
	padding: 0 1rem;
	margin-top: 20px;
	background: #009688;
}

a {
	color: white;
}