/*------------
	GENERAL
-------------*/
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	padding: 25px 0;
}

#back-btn {
	background: none;
	color: black;
	padding-left: 0;
}


/*------------
	HEADER
-------------*/
h1 {
	font-weight: 600;
	margin-bottom: 0;
	margin-left: 8px;
	font-family: 'Lobster', 'Roboto', sans-serif;
	letter-spacing: 1.5px;
}

#outfit-result {
	color: #009688;
}


/*-------------
	CONTENT
--------------*/
.card-panel {
	padding: 30px 50px;
	margin-bottom: 40px;
}


/*-----------
	Image
------------*/
#preview-div {
	position: relative;
}

#outfit-preview {
	margin-top: 20px;
	margin-bottom: 35px;
}

#modal-btn:hover {
	background: #4db6ac;
}

#modal-btn {
	position: absolute;
	top: 0;
	right: -15px;
}


/*-----------
	Table
------------*/
table {
	margin-bottom: 55px;
}

/* flashes new table row on load */
.flash {
    animation: flash 1s;
    animation-iteration-count: 3;
  }

@keyframes flash {
    0% { background-color: none; }
    50% { background-color: #e0f7fa; }
    100% { background-color: none; }
}

/*-----------
	Image
------------*/
#google-maps {
	margin-bottom: 40px;
}


/*---------------
	Resources
----------------*/
#resources {
	margin-top: -20px;
	margin-left: 15px;
}

p {
	margin-bottom: 0;
	font-weight: 600;
}

ul {
	margin-top: 0;
}

a {
	color: #039be5;
}

a:hover {
	color: #4fc3f7;
}